.auth 
    width: 25vw
    height: 60vh
    padding: 20px
    overflow: hidden
    margin-right: 5vw
    position: relative
    margin-bottom: 5vw
    border-radius: 10px
    transition: opacity 0.6s ease-in
    box-shadow: 0px 10px 50px -10px rgba(0,0,0,0.5)

.animated
    transform-style: preserve-3d
    animation: rotate 0.4s ease-in-out

.auth::before 
    top: 0
    left: 0
    content: ''
    z-index: -1
    width: 100%
    height: 100%
    display: block
    filter: blur(4px)
    position: absolute
    background-color: rgba(0,0,0,0.7)

@keyframes rotate
    0%
        opacity: 0
        transform: rotateY(180deg)
    10%
        opacity: 0
    100%
        opacity: 1
        transform: rotateY(0deg)
