.cont
    width: 100vw
    height: 100vh
    padding-top: 10vh

.searchCont
    width: 100%
    height: 100%
    display: flex
    align-items: center
    transform: scale(1)
    justify-content: center
    transition: all 0.3s ease-out

.searchContSM
    width: 100%
    display: flex
    transform: scale(0.4)
    align-items: flex-end
    justify-content: center
    transition: all 0.3s ease-out

.full
    width: 80%
    height: 10%
    border: none
    outline: none
    font-size: 4em
    color: #444444
    background: none
    font-weight: 200
    padding-bottom: 6px
    padding-right: 1.1em
    border-bottom: 4px solid #999

.icon
    color: #999999
    font-size: 3em
    margin-left: -1em
    
.listNoScroller
    -ms-overflow-style: none
    overflow: -moz-scrollbars-none
    &::-webkit-scrollbar
        width: 0 !important

.listCont
    width: 60%
    height: 90%
    padding: 20px
    margin-left: 20%
    overflow: scroll
    position: relative
    animation: popup 500ms ease-in-out

@keyframes popup
    0%
        transform: translateY(300px)
        opacity: 0
    100%
        transform: translateY(0px)
        opacity: 1